<a href="https://colab.research.google.com/github/samuelhenrick1/GoogleCollab/blob/main/Trilha_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

#Series
students_names = pd.Series(['Adriana','Carol','Daniel'])
age = pd.Series([18, 19, 19])

#DataFrame
students=pd.DataFrame({'Student Name':students_names,'Age':age})
students

  Student Name  Age
0      Adriana   18
1        Carol   19
2       Daniel   19

In [ ]:
tips = pd.read_csv('https://drive.google.com/file/d/1SuUrl8QHsI-PmatWFQOL2A17-Bu72Ys9/view?usp=sharing')
tips.head()

  <!DOCTYPE html><html><head><meta name="google" content="notranslate"><meta http-equiv="X-UA-Compatible" content="IE=edge;"><style nonce="Ig6IkJ6kEKZrIYddFuAFyg">@font-face{font-family:'Roboto';font-style:italic;font-weight:400;src:url(//fonts.gstatic.com/s/roboto/v18/KFOkCnqEu92Fr1Mu51xIIzc.ttf)format('truetype');}@font-face{font-family:'Roboto';font-style:normal;font-weight:300;src:url(//fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmSU5fBBc9.ttf)format('truetype');}@font-face{font-family:'Roboto';font-style:normal;font-weight:400;src:url(//fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxP.ttf)format('truetype');}@font-face{font-family:'Roboto';font-style:normal;font-weight:700;src:url(//fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmWUlfBBc9.ttf)format('truetype');}</style><meta name="referrer" content="origin"><title>Banco de Frases.csv - Google Drive</title><meta property="og:title" content="Banco de Frases.csv"><meta property="og:type" content="article"><meta property="og:site_name" content="Google Docs"><meta property="og:url" content="https://drive.google.com/file/d/1SuUrl8QHsI-PmatWFQOL2A17-Bu72Ys9/view?usp=sharing&amp;usp=embed_facebook"><link rel="shortcut icon" href="https://ssl.gstatic.com/images/branding/product/1x/drive_2020q4_32dp.png"><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Google+Sans:300  ... };this.gbar_=this.gbar_||{};(function(_){var window=this;
0                                               try{                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             ...                                                NaN
1                                                 /*                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             ...                                                NaN
2             Copyright The Closure Library Authors.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             ...                                                NaN
3                SPDX-License-Identifier: Apache-2.0                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             ...                                                NaN
4                                                 */                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             ...                                                NaN

[5 rows x 710 columns]

In [ ]:
from google.colab import files

uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with Lenght {lenght} bytes'.
  format( 
      name=fn, lenght = len(uploaded[fn])))

Saving Banco de Frases.csv to Banco de Frases.csv
User uploaded file "Banco de Frases.csv" with Lenght 24388 bytes

NameError: ignored

In [ ]:
tips.shape
(244,7)
len(tips)
244
tips.columns.to_list()

['total_bill','tip','sex','smoker','day','time','size']
tips.dtypes

NameError: ignored

In [ ]:
tips.describe(include='all')

NameError: ignored

In [ ]:
df.<nome do atributo>
#ou
df['<nome do atributo']

SyntaxError: ignored

In [ ]:
print (tips.tip)
#ou
print (tips['tip'])

NameError: ignored

In [ ]:
tip_series = tips['tip']
print(f'Media das Gorjetas: USD {tip_series.mean() :.2f} e Total das gorjetas: USD {tip_series.sum() :.2f')

Média das Gorjetas: USD 3.00 e Total das Gorjetas: USD 731.58

In [ ]:
dias = tips.day
dias = dias.to_list()
dias.count('Sat')

NameError: ignored

In [ ]:
df [[<lista-de-colunas>]]

SyntaxError: ignored

In [ ]:
tips.columns

Index(['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size'], dtype='object')

selected_tips = tips [['total_bill','tip','size']]

selected_tips.head()

NameError: ignored

In [ ]:
tips.nsmallest(5,'total_bill')

NameError: ignored

In [ ]:
tips_top3=tips.nlargest(3,'total_bill')
tips_top3

NameError: ignored

In [ ]:
dolar_real_rate = 5.8
tips['total_bill'] = tips['total_bill'] * dolar_real_rate
tips['tip'] = tips['tip'] * dolar_real_rate

tips['total_bill_minus_tips'] = tips ['total_bill'] - tips ['tips']
tips['bill_by_head'] = tips['total_bill'] / tips ['size']
tips.head()

NameError: ignored

In [ ]:
df[<criterio de seleção>]

SyntaxError: ignored

In [ ]:
df [ nome_coluna == valor]
df [ nome_coluna != valor]
df [ nome_coluna > valor]

NameError: ignored

In [ ]:
tips_nao_fumantes = tips [tips.smoker == 'No']
tips_fumantes = tips [tips.smoker == 'Yes']

print(f'Percentual de Clientes Fumantes {len( tips_fumantes) / len (tips) :. 2f}')

NameError: ignored

In [ ]:
df [ < critério da selecao > ]

df [ < criterio de selecao > ] . nome coluna pd.Series
df [ < criterio de selecao > ]['nome_coluna']

df [<criterio de selecao][[<lista de colunas]] pd.DataFrame

SyntaxError: ignored

In [ ]:
tips [tips.smoker == 'Yes']['tip'].mean() > tips[tips.smoker == 'No']['tip'].mean()

tips [tips.sex =='Female']['tip'].mean() > tips[tips.sex == 'Male']['tip'].mean()

NameError: ignored

In [ ]:
import matplotlib.pyplot as plt
plt.hist(tips[tips.sex == 'Male'] ['tip'], label = "Homens")
plt.hist(tips[tips.sex == 'Female'] ['tip'], label = "Mulheres")

plt.xlabel('Valor das Gorjetas')
plt.ylabel('Quantidades pagas')
plt.title('Distribuição das Gorjetas', fontsize=14, weight='bold')
plt.show()

NameError: ignored

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

def draw_dataframe(df, loc=None, width=None, ax=None, linestyle=None, textstyle=Nome):

  loc = loc or [0,0]
  width = width or 1

  x,y = loc

  if ax is None:
    ax = plt.gca()

    ncols = len(df.columns) +1
    nrows = len(df.index) +1

    dx = dy = width / ncols

    if linestyle is None:
      linestyle = {'color' : 'black'}
    if textstyle is None:
      textstyle = {'size':12}

    textstyle.update({'ha':'center', 'va':'center'})

  for i in range(ncols+1):
    plt.plot(2*[x+i*dx],[y,y+dy*nrows],**linestyle)

  for i in range(nrows-1):
    plt.plot([x,x+dx*ncols],2*[y+i*dy], **linestyle)

  for i in range(nrows-1):
    plt.text(x+0.5*dx,y+(i+0.5)*dy,
             str(df.index[::-1][i]), **textstyle)
    
  for i in range(ncols-1):
    plt.text(x+(i+1.5)*dx,y+(nrows -0.5)*dy,
             str(df.index.name),style='italic',**textstyle)
  
  for i in range(nrows - 1):
    for j in range (ncols -1):
      plt.text(x+(j+1.5)*dx,
               y+(i+0.5)*dy,
               str(df.values[::-1][i,j]), *textstyle)

NameError: ignored

In [9]:
import pandas as pd
df = pd.DataFrame({'data': [1,2,3,4,5,6]},
index=['A','B','C','A','B','C'])
df.index.name = 'key'

fig = plt.figure(figuresize=(8,6),facecolor='white')
ax = plt.axes([0,0,1,1])

ax.axis('off')

draw DataFrame(df,[0,0])

for y,ind in zip ([3,2,-1], 'ABC'):
  split = df[df.index == ind]
  draw_dataframe(split, [2,y])

  sum = pd.DataFrame(split.sum()).T
  sum.index = [ind]
  sum.index.name = 'key'
  sum.columns = ['data']
  draw_dataframe(sum, [4,y+0.25])

  result = df.groupby(df.index).sum()
  draw_dataframe(result, [6, 0.75])

  style = dict(fontsize=14, ha='center',weight='bold')
  plt.text(0.5,3.6,"Input",**style)
  plt.text(2.5,4.6,"Split",**style)
  plt.text(4.5,4.35,"Apply (sum)",**style)
  plt.text(6.5,2.85,"Combine",**style)

  arrowprops = dict(facecolor='black', width = 1, headwidth = 6)
  plt.annotate('', (1.8, 3.6),(1.2,2.8), arrowprops=arrowprops)
  plt.annotate('',(1.8,1.75),(1.2,1.75), arrowprops=arrowprops)
  plt.anootate('',(1.8,-0.1),(1.2,0.7), arrowprops=arrowprops)

  plt.annotate('',(3.8,3.8),(3.2,3.8), arrowprops=arrowprops)
  plt.annotate('',(3.8,1.75),(3.2,1.75), arrowprops=arrowprops)
  plt.annotate('',(3.8,-0.3),(3.2,-0.3), arrowprops=arrowprops)

  plt.annotate('',(5.8,2.8),(5.2,3.6), arrowprops=arrowprops)
  plt.annotate('',(5.8,1.75),(5.2,1.75), arrowprops=arrowprops)
  plt.annotate('',(5.8,0.7),(5.2,-0.1), arrowprops=arrowprops)

  plt.axis('equal')
  plt.ylim(-1.5,5):

  fig.savefig('03.08-split-apply-combine.jpg')

SyntaxError: ignored

In [8]:
df.groupby(df.index).sum()

NameError: ignored

In [7]:
display(df.groupby(df.index).mean())
display(df.groupby(df.index).std())
display(df.groupby(df.index).min())
display(df.groupby(df.index).agg(['mean','std','min']))

NameError: ignored

In [19]:
pedidos = pd.DataFrame({'Pedido':pd.Series([1,1,1,2,2,2,2,3,3]),
                        'Itens':pd.Series(['Tênis Corrida','Tenis Caminhada','Camiseta','Tenis Caminhada','Camiseta','Bone','Keds','Tenis Caminhada','Camiseta']),
                        'Preco Unidade':pd.Series([300,250,90,250,90,60,250,250,90]),
                        'Quantidade':pd.Series([1,2,3,2,1,1,3,2,1])})

display(pedidos.groupby('Pedido').agg(['mean','std','min']))

display(pedidos.groupby('Pedido').max())

display(pedidos.groupby('Itens')['Quantidade'].agg(['mean','std','min','count']))

display(pedidos.groupby(['Itens','Pedido']).agg(['min','max']))

       Preco Unidade                 Quantidade
                mean         std min       mean       std min
Pedido
1         213.333333  109.696551  90       2.00  1.000000   1
2         162.500000  101.775898  60       1.75  0.957427   1
3         170.000000  113.137085  90       1.50  0.707107   1

                  Itens  Preco Unidade  Quantidade
Pedido
1         Tênis Corrida            300           3
2       Tenis Caminhada            250           3
3       Tenis Caminhada            250           2

                     mean       std  min  count
Itens
Bone             1.000000       NaN    1      1
Camiseta         1.666667  1.154701    1      3
Keds             3.000000       NaN    3      1
Tenis Caminhada  2.000000  0.000000    2      3
Tênis Corrida    1.000000       NaN    1      1

                       Preco Unidade      Quantidade
                                 min  max        min max
Itens           Pedido
Bone            2                 60   60          1   1
Camiseta        1                 90   90          3   3
                2                 90   90          1   1
                3                 90   90          1   1
Keds            2                250  250          3   3
Tenis Caminhada 1                250  250          2   2
                2                250  250          2   2
                3                250  250          2   2
Tênis Corrida   1                300  300          1   1

In [21]:
pedidos = pd.DataFrame({'Pedido':pd.Series([1,1,1,2,2,2,2,3,3]),
                        'Itens':pd.Series(['Tênis Corrida','Tenis Caminhada','Camiseta','Tenis Caminhada','Camiseta','Bone','Keds','Tenis Caminhada','Camiseta']),
                        'Preco Unidade':pd.Series([300,250,90,250,90,60,250,250,90]),
                        'Quantidade':pd.Series([1,2,3,2,1,1,3,2,1])})

pedidos.groupby('Itens')
print(grupos_itens)
print(grupos_itens.groups)
print(grupos_itens.groups.key())
print(grupos_itens.groups.values())

NameError: ignored

In [24]:
pedidos = pd.DataFrame({'Pedido':pd.Series([1,1,1,2,2,2,2,3,3]),
                        'Itens':pd.Series(['Tênis Corrida','Tenis Caminhada','Camiseta','Tenis Caminhada','Camiseta','Bone','Keds','Tenis Caminhada','Camiseta']),
                        'Preco Unidade':pd.Series([300,250,90,250,90,60,250,250,90]),
                        'Quantidade':pd.Series([1,2,3,2,1,1,3,2,1])})

for chave in pedidos.groupby('Itens').groups.keys():
  print(chave)

for chave, grupo in pedidos.groupby('Itens'):
print(chave)
print(grupo)

IndentationError: ignored

In [25]:
pedidos = pd.DataFrame({'Pedido':pd.Series([1,1,1,2,2,2,2,3,3]),
                        'Itens':pd.Series(['Tênis Corrida','Tenis Caminhada','Camiseta','Tenis Caminhada','Camiseta','Bone','Keds','Tenis Caminhada','Camiseta']),
                        'Preco Unidade':pd.Series([300,250,90,250,90,60,250,250,90]),
                        'Quantidade':pd.Series([1,2,3,2,1,1,3,2,1])})

pedidos.groupby('Itens').Quantidade.sum()

Itens
Bone               1
Camiseta           5
Keds               3
Tenis Caminhada    6
Tênis Corrida      1
Name: Quantidade, dtype: int64

In [26]:
pedidos = pd.DataFrame({'Pedido':pd.Series([1,1,1,2,2,2,2,3,3]),
                        'Itens':pd.Series(['Tênis Corrida','Tenis Caminhada','Camiseta','Tenis Caminhada','Camiseta','Bone','Keds','Tenis Caminhada','Camiseta']),
                        'Preco Unidade':pd.Series([300,250,90,250,90,60,250,250,90]),
                        'Quantidade':pd.Series([1,2,3,2,1,1,3,2,1])})

pedidos.groupby('Itens')[['Quantidade','Preco Unidade']].sum()

                 Quantidade  Preco Unidade
Itens
Bone                      1             60
Camiseta                  5            270
Keds                      3            250
Tenis Caminhada           6            750
Tênis Corrida             1            300

In [29]:
pedidos = pd.DataFrame({'Pedido':pd.Series([1,1,1,2,2,2,2,3,3]),
                        'Itens':pd.Series(['Tênis Corrida','Tenis Caminhada','Camiseta','Tenis Caminhada','Camiseta','Bone','Keds','Tenis Caminhada','Camiseta']),
                        'Preco Unidade':pd.Series([300,250,90,250,90,60,250,250,90]),
                        'Quantidade':pd.Series([1,2,3,2,1,1,3,2,1])})

pedidos.groupby('Itens')[['Quantidade','Preco Unidade']].sum()['Quantidade']

Itens
Bone               1
Camiseta           5
Keds               3
Tenis Caminhada    6
Tênis Corrida      1
Name: Quantidade, dtype: int64

In [33]:
import pandas as pd

pedidos = pd.DataFrame({'Pedido':pd.Series([1,1,1,2,2,2,2,3,3]),
                        'Itens':pd.Series(['Tênis Corrida','Tenis Caminhada','Camiseta','Tenis Caminhada','Camiseta','Bone','Keds','Tenis Caminhada','Camiseta']),
                        'Preco Unidade':pd.Series([300,250,90,250,90,60,250,250,90]),
                        'Quantidade':pd.Series([1,2,3,2,1,1,3,2,1])})

type(pedidos.groupby('Itens')[['Quantidade','Preco Unidade']].sum()['Quantidade'])

pedidos.groupby('Itens')[['Quantidade','Preco Unidade']].sum()['Quantidade'].mean()

3.2

In [34]:
pedidos = pd.DataFrame({'Pedido':pd.Series([1,1,1,2,2,2,2,3,3]),
                        'Itens':pd.Series(['Tênis Corrida','Tenis Caminhada','Camiseta','Tenis Caminhada','Camiseta','Bone','Keds','Tenis Caminhada','Camiseta']),
                        'Preco Unidade':pd.Series([300,250,90,250,90,60,250,250,90]),
                        'Quantidade':pd.Series([1,2,3,2,1,1,3,2,1])})

df = pd.DataFrame(pedidos.groupby('Itens')[['Quantidade','Preco Unidade']].sum()).reset_index()
df.head()

             Itens  Quantidade  Preco Unidade
0             Bone           1             60
1         Camiseta           5            270
2             Keds           3            250
3  Tenis Caminhada           6            750
4    Tênis Corrida           1            300

In [59]:
def __init__(self,*args):
    self.args=args

    def _repr_html_(self):
      return '\n'.join(self.template.format(a,eval(a)._repr_html_())
      for a in self.args)
      def __repr__(self):
        return '\n\n'.join(a+'\n'+repr(eval(a))
        for a in self.args)

        import pandas as pd

import pandas as pd

        df = pd.DataFrame({'Nome':['Adriana','Daniel','Henrique'],
                           'Curso':['Graduação','Graduação','Ensino Médio'],
                           'Idade':[34,25,17]})
        
        df2 = pd.DataFrame({'Nome':['Beatriz','Anna'],
                            'Curso':['Graduação','Ensino Médio'],
                            'Idade':[34,17],
                            'Ingresso':[2018,2022]})
        
        df3 = pd.DataFrame({'Nome':['Adriana','Daniel','Henrique','Beatriz','Ana'],
                            'Musica':['Rock','MPB','HipHop','Jazz','Jazz']})
        
        display('df','df2','df3')
        
        df

        df4 = df2 [['Nome','Curso','Idade']]

        display ('df','df4',"pd.concat([df,df4])")

        df

        df5 = df3[['Musica']].head(3)

        display('df','df5',"pd.concat([df,df5])")

        display('df','df2',"pd.concat([df,df2])")

        display('df','df2',"pd.concat([df,df2]).reset_index(drop=true)")

        display('df','df2',"pd.concat([df,df2],axis=1)")

        df3 = pd.concat([df,df2],axis=1)
        df3 = ['Nome']

        print(df3.loc[0][0])
        print(df3.loc[0][3])

        df3.columns = ['Nome','Curso','Idade','Nome2','Curso2','Idade2','Ingresso']
        df3

IndentationError: ignored

In [51]:
class display(object):

  template = """<div style="float:left;padding:10px;">
  <hr>
  <p style='font-family:"Courier New", Courier, monospace'>{0}</p><hr>{1}
  </div>"""

  def __init__(self,*args):
    self.args=args

    def _repr_html_(self):
      return '\n'.join(self.template.format(a,eval(a)._repr_html_())
      for a in self.args)
      def __repr__(self):
        return '\n\n'.join(a+'\n'+repr(eval(a))
        for a in self.args)

        import pandas as pd

        df = pd.DataFrame({'Nome':['Adriana','Daniel','Henrique'],
                           'Curso':['Graduação','Graduação','Ensino Médio'],
                           'Idade':[34,25,17]})
        
        df2 = pd.DataFrame({'Nome':['Beatriz','Anna'],
                            'Curso':['Graduação','Ensino Médio'],
                            'Idade':[34,17],
                            'Ingresso':[2018,2022]})
        
        df3 = pd.DataFrame({'Nome':['Adriana','Daniel','Henrique','Beatriz','Ana'],
                            'Musica':['Rock','MPB','HipHop','Jazz','Jazz']})
        
        display('df','df2','df3')
        
        df

        df4 = df2 [['Nome','Curso','Idade']]

        display ('df','df4',"pd.concat([df,df4])")

        df

        df5 = df3[['Musica']].head(3)

        display('df','df5',"pd.concat([df,df5])")

        display('df','df2',"pd.concat([df,df2])")

        display('df','df2',"pd.concat([df,df2]).reset_index(drop=true)")

        display('df','df2',"pd.concat([df,df2],axis=1)")

        df3 = pd.concat([df,df2],axis=1)
        df3 = ['Nome']

        print(df3.loc[0][0])
        print(df3.loc[0][3])

        df3.columns = ['Nome','Curso','Idade','Nome2','Curso2','Idade2','Ingresso']
        df3

In [81]:
class display(object):

  template = """<div style="float:left;padding:10px;">
  <hr>
  <p style='font-family:"Courier New", Courier, monospace'>{0}</p><hr>{1}
  </div>"""
  def __init__(self,*args):
    self.args=args

    def _repr_html_(self):
      return '\n'.join(self.template.format(a,eval(a)._repr_html_())
      for a in self.args)
      def __repr__(self):
        return '\n\n'.join(a+'\n'+repr(eval(a))
        for a in self.args)

        import pandas as pd

df1 = pd.DataFrame({'employee':['Bob','Jake','Lisa','Sue'],
                    'group':['Accounting','Engineering','Engineering','HR']})

df2 = pd.DataFrame({'employee':['Lisa','Bob','Jake','Sue'],
                    'hire_date':[2004,2008,2012,2014]})

df3 = pd.DataFrame({'group':['Accounting','Engineering','HR'],
                    'supervisor':['Carly','Guido','Steve']})

display('df1','df2','df3')

df4 = pd.merge(df1,df2)
df4 = pd.merge(df1,df2, left_on='employee',right_on='employee')
df4 = pd.merge(df1,df2, on='employee')
display('df4')

display('df3','df4','pd.merge(df3,df4')

df5 = pd.DataFrame({'group':['Accounting','Accounting','Engineering','Engineering','HR','HR'],
                    'skills':['math','spreadsheets','coding','linux','spreadsheets','organization']})

display ('df1','df5',"pd.merge(df1,df5)")

df6 = pd.DataFrame({'name':['Bob','Jake','Lisa','Sue'],
                    'salary':[70000,80000,120000,9000]})

pd.merge(df1,df6,left_on="employee",right_on="name").drop('name',axis=1)

df7 = pd.DataFrame({'employee':['Bob','Jake','Lisa','Sue','Adriana'],
                    'gruop':['Accounting','Engineering','Engineering','HR','Commercial']})

df8 = pd.DataFrame({'group':['Accounting','Accounting','Engineering','Engineering','HR','HR','Research'],
                    'skills':['math','spreadsheets','coding','linux','spreadsheets','organization','Data Science']})

display('df7','df8','pd.merge(df7,df8)')

display('df7','df8',"pd.merge(df7,df8,how='left')")

display('df7','df8',"pd.merge(df7,df8,how='right')")

display('df1','df5',"pd.merge(df1,df5,how='outer')")

display('df',"pd.melt(df,id_vars = ['Nome'], value_vars = ['Curso'])")

display('df',"pd.melt(df,id_vars = ['Nome'], value_vars = ['Curso','Idade'])")

display('df',"pd.melt(df,id_vars = ['Nome'], value_vars = ['Idade'],var_name='Tipo_Atributo',value_name='Valor_Atributo')")

display('df',"pd.pivot(df,'Nome','Curso','Idade')")

df2 = pd.pivot(df,'Nome','Curso','Idade')

df3 = pd.pivot(df,'Nome','Curso','Idade').reset_index()

df3.columns.name=''

print(df2.columns)
print(df3.columns)

KeyError: ignored